@model IEnumerable<BookFavor.Models.BookAuthor>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-5">All books With Authors</h1>

<p>
    <a asp-action="Create">
        <img src="~/images/plus.svg" width="30" />
        <span class="text-success font-weight-bold mx-3"> Add new book</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authors)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors.LastName)
                    @Html.DisplayFor(modelItem => item.Authors.LastName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
